body{
    background-color: #3E3E3E;
}
body main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}
.contenedor-todo{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid#333 ;
    border-radius: 5px;
    box-shadow: 0 0 8px #000;
}
.fila{
    width: 100%;
}
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid orange;
    height: 500px;
}
.perfil img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 1px solid orange;
    margin-bottom: 10px;
    margin-top: 20px;
}
.bienvenido{
    margin-bottom: 20px;
    font-size: 25px;
    color: orange;
}
#user-name{
    color: #fff;
    font-weight: 300;
    font-size: 25px;
}
.list{
    background-color: #4b1e28;
    color: #fff;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}
.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    margin-top: 10px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
form #input-tarea{
    border-radius: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 30px;
}
form #add-work{
    background-color: #4b1e28;
    color: #fff;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}
.pendiente{
    margin-top: 10px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
}
.espacio-de-tareas{
    height: 200px;
    overflow-y: auto;
}
#lists-works{
    width: 450px;
}
#items{
    color: #fff;
}
