.contenedor{
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
}
.letras{
    display: flex;
}
.numeros, .letras{
    display: flex;
    justify-content: space-between;
}
#espacio-numeros, #espacio-letras{
    background-color: rgb(199, 193, 252);
    height: 18px;
    width: 170px;
    border: 1px solid orange;
    align-items: flex-start;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 25px;
}
#espacio-numeros p, #espacio-letras p{
    height: 18px;
    margin: 0;
}
.seleccionador-temas{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
.espacio-botones {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    width: 170px;
}
.espacio-botones span{
    width: 45px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid orange;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.contenedor.oscuro {
    background-color: #333;
}
.contenedor.oscuro h3,
.contenedor.oscuro .letras,
.contenedor.oscuro .numeros,
.contenedor.oscuro .seleccionador-temas,
.contenedor.oscuro .espacio-botones{
    color: #fff;
}
.contenedor.oscuro #espacio-letras,
.contenedor.oscuro #espacio-numeros{
    background-color: #000;
    box-shadow: 3px 3px 5px orange, 
    4px 4px 10px rgb(0, 0, 0);
}
.contenedor.oscuro #espacio-botones span{
    border: 1px solid orange;
    box-shadow: 3px 3px 5px orange, 
     4px 4px 10px rgb(0, 0, 0);
}
.contenedor.retro {
    background-color: rgb(32, 94, 209);
}
.contenedor.retro h3,
.contenedor.retro .letras,
.contenedor.retro .numeros,
.contenedor.retro .seleccionador-temas,
.contenedor.retro .espacio-botones{
    color: rgb(255, 255, 255);
}
.contenedor.retro .letras #espacio-letras,
.contenedor.retro .numeros #espacio-numeros{
    border: 1px solid rgb(0, 250, 154);
    box-shadow: 3px 3px 5px rgb(0, 250, 154);
    background-color: orchid;
}
.contenedor.retro .espacio-botones span{
    border: 1px solid rgb(0, 250, 154);
    box-shadow: 3px 3px 5px rgb(0, 250, 154), 
     4px 4px 10px rgb(0, 0, 0);
}
