<div class="form">
    <mat-card class="card">
        <mat-card-title>Registrar usuario</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="crearActividad.nombre" matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="crearActividad.estado" matInput placeholder="Cédula">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="crearActividad.descripcion" matInput placeholder="Edad">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="crear()" class="button col" mat-raised-button>Crear actividad</button>
        </mat-card-actions>
    </mat-card>
</div>