body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    z-index: 1;
}
.container{
    z-index: 0;
}
.header-style{
    color: rgb(169, 245, 215);
}
.datosPersonajes {
    margin-top: 140px;
    margin-bottom: 60px;
}